[submodule "projects/fabrica"]
	path = projects/fabrica
	url = https://github.com/butbeautifulv/fabrica.git
[submodule "projects/precursor"]
	path = projects/precursor
	url = https://github.com/butbeautifulv/precursor.git
