[submodule "projects/veil"]
	path = projects/veil
	url = https://github.com/butbeautifulv/veil.git
[submodule "projects/cys-agi"]
	path = projects/cys-agi
	url = https://github.com/butbeautifulv/cys_agi.git
[submodule "projects/ci-cd-template"]
	path = projects/ci-cd-template
	url = https://github.com/butbeautifulv/ci-cd_template.git
[submodule "projects/asoc-api"]
	path = projects/asoc-api
	url = https://github.com/butbeautifulv/asoc-api.git
