DEFECTDOJO_BASE_URL=http://defectdojo.cxado-aspm.svc.cluster.local:8080
DEFECTDOJO_API_KEY=changeme
DEFECTDOJO_VERIFY_SSL=false
DEFECTDOJO_READONLY=false
DEFECTDOJO_CACHE_TTL_SECONDS=120
MCP_HOST=0.0.0.0
MCP_PORT=8096
