NESSUS_BASE_URL=https://10.2.190.78:8834
NESSUS_USERNAME=admin
NESSUS_PASSWORD=changeme
NESSUS_VERIFY_SSL=false
NESSUS_READONLY=true
NESSUS_CACHE_TTL_SECONDS=300
NESSUS_EXPORT_TTL_SECONDS=3600
MCP_PORT=8095
